Django==4.2  # Main framework
gunicorn==21.2.0  # WSGI server for running your application
whitenoise==6.9.0  # For serving static files
python-dotenv==1.0.1  # For managing environment variables
Pillow==11.1.0  # For image processing (required for ImageField)
django-countries==7.3.0  # For country field support
django-tailwind==3.8.0  # Tailwind CSS integration (precompile CSS before deployment)
fontawesomefree==6.6.0  # Font Awesome integration
requests==2.32.3  # HTTP requests handling (if used in your project)
regex==2024.11.6  # Advanced regular expressions support (if needed)
sqlparse==0.5.3  # SQL parsing library (used internally by Django)
