{% extends 'layout.html' %} {% load static %} {% block title %} Category Manage
- Grow Earth {% endblock %} {% block content %}

<div class="min-h-screen px-4 py-2 mb-8">
  <h1 class="text-5xl mt-8 mb-4">Plant Category</h1>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 ml-4">
    {% for category in categoryes %}
    <div class="flex flex-col md:flex-row border-2 border-darkBrown">
      <div class="md:w-1/2">
        <img
          loading="lazy"
          src="{{category.image.url}}"
          alt="{{category.title}}"
          class="object-cover object-center h-full"
        />
      </div>
      <div class="md:w-1/2 m-4 md:flex md:flex-col md:justify-around">
        <h5 class="text-2xl font-bold text-bamboo-green mb-2">
          {{category.title}}
        </h5>
        <p class="text-gray-600 mb-4">{{category.description}}</p>
        <div class="flex justify-between items-center">
          <button
            onclick="showBambooDetails('{{category.id}}')"
            class="bg-saffron px-4 py-2 rounded-full hover:bg-bamboo-light transition duration-300"
          >
            Plants
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <h1 class="text-5xl mt-8 mb-4">Plant to Grow</h1>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 ml-4">
    {% for plant in plants %}
    <div class="flex flex-col md:flex-row border-2 border-darkBrown">
      <div class="md:w-1/2">
        <img
          loading="lazy"
          src="{{plant.image.url}}"
          alt="{{plant.title}}"
          class="object-cover object-center h-full"
        />
      </div>
      <div class="md:w-1/2 m-4 md:flex md:flex-col md:justify-around">
        <div class="flex justify-between items-center">
          <h5 class="text-2xl font-bold text-bamboo-green mb-2">
            {{plant.title}}
          </h5>

          <span class="text-gray-600"><i>{{plant.category.title}}</i></span>
        </div>
        <p class="text-gray-600 mb-4">{{plant.description}}</p>
        <div class="flex justify-between items-center">
          <span class="text-xl font-semibold text-bamboo-green">
            {{plant.price}}
          </span>
          <button
            onclick="showBambooDetails('{{plant.id}}')"
            class="bg-saffron px-4 py-2 rounded-full hover:bg-bamboo-light transition duration-300"
          >
            More Details
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
